$primery-color: #3A86F8;
$primary-hover-Dark:#6BA4FA;
$on-primary-light:#FFFFFF;
$background-Dark:#040810;
$on-background-Dark:#E6E9EF;
$surface-Dark:#E6E9EF;

$neutralDarker:#323233;
$neutralGray:#646466;
$neutralLIghtGray:#7D7D7F;
$neutralLightestGray:#AFAEB2;
$neutralAshGray:#C8C7CB;
$neutralLightest:#FFFFFF; 

$Errors-color:#E63946;
$Success-color:#90F677;

// Small tablets and large smartphones (landscape view)
$screen-sm: 576px;
// Small tablets (portrait view)
$screen-md: 768px;
// Tablets and small desktops
$screen-lg: 1024px;
// Large tablets and desktops
$screen-xl: 1368px;