$primery-color: #2C7EF8;
$primary-hover-light:#075CD9;
$on-primary-light:#FFFFFF;
$background-light:#FFFFFF;
$on-background-light:#191C1E;
$surface-light:#FFFFFF;

$neutralDarkerest:#000000;
$neutralDarker:#323233;
$neutralGray:#646466;
$neutralLIghtGray:#7D7D7F;
$neutralLightestGray:#AFAEB2;
$neutralAshGray:#C8C7CB;
$neutralLightest:#FFFFFF; 

$Errors-color:#E63946;
$Success-color:#90F677;

// Small tablets and large smartphones (landscape view)
$screen-sm: 576px;
// Small tablets (portrait view)
$screen-md: 768px;
// Tablets and small desktops
$screen-lg: 1024px;
// Large tablets and desktops
$screen-xl: 1368px;