#footer {
  @include container;
  padding: 0.5rem 0;
  h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 31px;
    margin-bottom: 1.5rem;
    color: $on-background-light;
    .hrlines {
      position: relative;
      max-width: 500px;
      margin: 100px auto;
      text-align: center;
      &:before {
        content: " ";
        display: block;
        height: 2px;
        width: 130px;
        position: absolute;

        left: 0;
        background: red;
      }
      &:after {
        content: " ";
        height: 2px;
        width: 130px;
        background: red;
        display: block;
        position: absolute;

        right: 0;
      }
    }
  }
  .footer__widget {
    display: flex;
    justify-content: space-around;
    align-items: start;
    color: $on-background-light;
    .widget__right {
      display: flex;
      flex-direction: column;

      span {
        font-size: 16px;
        color: $neutralDarker;
        padding-bottom: 1rem;
      }
    }
    .widget__left {
      h4 {
        padding-bottom: 0.75rem;
      }
      p {
        color: $neutralDarker;
      }
    }
  }
  .footer__form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 6px 24px 6px 6px;
    gap: 5px;

    border: 1px solid $neutralLIghtGray;
    border-radius: 10px;
    .form__input {
      border: none;
      &:palceholder {
        font-size: 14px;
        color: $neutralLightestGray;
      }
    }
    .form__btn {
      background-color: $primery-color;
      color: $on-primary-light;
      border-radius: 10px;
      padding: 10px 16px;
      font-size: 14px;
    }
  }

  .copyright {
    p {
      display: flex;
      justify-content: center;
      align-items: center;
      color: $on-background-light;
      font-size: 16px;
    }
  }
}
